::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3563cede; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3564ce; 
}

#nav{
    max-height: 100vh;
    min-height: 100vh;
    background: aquamarine;
    margin-left: auto;
}

#dis{
    max-height: 100vh;
    min-height: 100vh;
    background: rgb(45, 95, 78);
}