::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3563cede; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3564ce; 
}

a:hover{
  color: #397b8a;
  text-decoration: none;
}

h1 span{
  color: aqua;
  font-weight: 600;
}
.mt-30px{
  margin-top: 30px;
}

.fix-bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.txt{
  margin-top: 20px;
  min-height: 500px;
}

.txt h1 {
    font-family: "Lato-Light";
    font-size: 48px;
    color: #000000;
    max-width: 500px;
    margin-top: 60px;
}

.txt p {
    max-width: 450px;
    margin: 20px 0;
    margin-bottom: 40px;
}

.txt a, .li-btn {
    display: inline;
    padding: 10px 30px;
}

@media (max-width: 512px){
    #head img{
      display: none;
    }
}

.li-bag{
    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
    font-size: 18px;
    font-family: "OpenSans-Semibold";
    color: #fff;
    border-radius: 50px;
}

@media (max-width: 768px){
  .head-txt {
      text-align: center!important;
  }
}

/* */
.h2bol{
    position: relative;
    }

.h2bol span{
  color:inherit;
  display:none;
  font-size: small;
  }

#service{
  text-align: center;
}

#service .svg-stat {
    position: absolute;
    left: 0;
    max-width: 1500px;
    right: 0;
    min-height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.get-app {
    background-color: #56b9d0;
    text-align: center;
    padding: 60px 0px;
}

.get-app .heading h4 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
}

.primary-white-button a {
    display: inline-block;
    background-color: #fff;
    color: #4faabf;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 3px;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

#why {
    padding: 60px 0;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

#why .features h4 {
    font-size: 24px;
    font-weight: 600;
    color: #413e66;
    margin-bottom: 5px;
}

#why .why-us-content .features p {
    font-size: 16px;
    margin-left: 56px;
    color: #555186;
}

#why .why-footer{
    text-align: center;
}

#why .why-footer h4{
    font-size: 32px;
    padding-bottom: 14px;
}

.row_center{
  justify-content: center;
  text-align: center;
}

/* sip_carous */

.sip_carous{
  position: relative;
  padding: 8rem 0;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}

.overlay-mf {
    background-color: #0078ff;
}

#bannr{
  position: relative;
}

.bannr-txt{
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.bannr-txt h1{
  color: white;
}

#Subscribe{
  padding: 30px 0px;
  font-family: 'Poppins', sans-serif;
}

#Subscribe .get-app .heading h4 {
    margin-bottom: 0px;
}

.form_subribe {
    border-radius: 75px;
    overflow: hidden;
    margin-top: 15px;
}

form {
    position: relative;
}

.form_subribe input {
    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    height: 60px;
    padding: 0 170px 0 25px;
    font-size: 18px;
    line-height: 60px;
}

.form_subribe button {
    background: #f06008;
    border: none;
    color: #fff;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 170px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 62px;
}

@media (max-width: 768px){
.form_subribe button {
    background: #f06008;
    border: none;
    color: #fff;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 130px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 62px;
}
}
button, input {
    overflow: visible;
}